<div style="text-align:center"class="container">
    <h1>
        Welcome {{title}}!
    </h1>
    <div class="container">
        <p>Id: <span>{{greeting.id}}</span></p>
        <p>Message: <span>{{greeting.content}}!</span></p>
    </div>
</div>
